	<div style="width:200px;height: calc( 100% - 60px );margin-top: -20px;float:left;">
		<div style="width:200px;height: 100%;background-color: #D5D3CD;" align="center">
			<ul class="list-group">
				{volist name="dbNum" id="vo" key="k"}
				{if $vo.num!=0}
				<a href="{:url('@db/dbindex')}?db={$key}">
				{else /}{/if}
					<li class="list-group-item">db:{$key}(<b class="dbnum">{$vo.num}</b>)</li>
				{if $vo.num!=0}
				</a>
				{else /}{/if}
				{/volist}
			</ul>
			<p style="word-wrap:break-word; word-break:normal;margin-left: 10px;margin-right: 10px;">
				void9main
				|&nbsp;github:
				<a target="_blank" href="https://github.com/void9main/SeeRedis">
					https://github.com/void9main/SeeRedis
				</a>
			</p>
		</div>
	</div>