<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{:url('@content/index')}">
      	<p>
        <img alt="" src="__STATIC__/img/favicon.png" width="30px" style="margin-top: -10px;">
        SeeRedis
        </p>
      </a>
      <ul class="nav navbar-nav navbar-right">
      	<li><a href="{:url('@content/index')}">首页</a></li>
      	<li><a href="{:url('@command/index')}">命令行</a></li>
        <li><a href="{:url('@index')}">注销</a></li>
      </ul>
    </div>
  </div>
</nav>