<div class="modal fade" id="deleteModel{$k}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">删除</h4>
      </div>
      <form action="{:url('@db/dbdelete')}?key={$vo.name}&db={$db}" method="post">
	      <div class="modal-body">
	      	<input type="text" value={php}
	      		echo 'http://'.$_SERVER['SERVER_NAME'].':'.$_SERVER['SERVER_PORT'].$_SERVER['REQUEST_URI'];
	      		{/php}
	      		style="width:500px;display: none;"
	      		name="returl"
	      		/>
	      	<input type="text" value="{$keysearch}" name="keys"
	      		style="display: none;"
	      		/>
	        	<p>确定删除:<b>{$vo.name}</b>?</p>
	      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-danger">确定删除</button>
      </div>
      </form>
    </div>
  </div>
</div>