<!doctype html>
<html lang="utf-8" style="width: 100%;height: 100%;">
<head>
	{include file="base/header" /}
</head>
<style>
	.dbnum{
		color: #204D74;
	}
	.dbinfo{
		float: left;
		height:calc( 100% - 70px );
		overflow: hidden;
		margin-top: -20px;
		margin-left: 20px;
	}
	.dbinfo-color{
		color: #255625;
	}
	.dbdiv{
		float: left;
		margin-left: 15px;
		max-width: 250px;
		overflow: hidden;
		text-overflow:ellipsis;
	}
</style>
<body style="width: 100%;height: 100%;">
	{include file="base/nav" /}
	{include file="base/left" /}
	<div class="dbinfo">
		<h3>Redis服务器信息:</h3>
		<h4>redis-server:<code>{$ip}</code>:<code>{$port}</code></h4>
		<div class="dbdiv">
		{volist name="dbInfo0" id="vo"}
			<p>{$key}：<b class="dbinfo-color">{$vo}</b></p>
		{/volist}
		</div>
		<div class="dbdiv">
		{volist name="dbInfo1" id="vo"}
			<p>{$key}：<b class="dbinfo-color">{$vo}</b></p>
		{/volist}
		</div>
		<div class="dbdiv">
		{volist name="dbInfo2" id="vo"}
			<p>{$key}：<b class="dbinfo-color">{$vo}</b></p>
		{/volist}
		</div>
		<div class="dbdiv">
		{volist name="dbInfo3" id="vo"}
			<p>{$key}：<b class="dbinfo-color">{$vo}</b></p>	
		{/volist}
		</div>
	</div>
</body>