<!doctype html>
<html lang="utf-8" style="width: 100%;height: 100%;">
<head>
	{include file="base/header" /}
</head>
<body>
	<div class="divfo" align="center">
		<div style="margin:10px;overflow: auto;height: 100%;width:450px;margin-top:150px;text-align: left">
            <form method="POST" action="{:url('@content/index')}">
                <h3><img src="__STATIC__/img/favicon.png" style="width:35px;margin-right:20px">SeeRedis在线管理工具</h3>
                <br />
                <div class="form-group">
                    <label for="exampleInputEmail1">ip地址</label>
                    <input type="text" class="form-control" name="ip" placeholder="127.0.0.1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">端口号</label>
                    <input type="text" class="form-control" name="port" placeholder="6379">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">认证</label>
                    <input type="text" class="form-control" name="auth" placeholder="默认为空">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">密码</label>
                    <input type="password" class="form-control" name="password" placeholder="初始化设置">
                </div>
                <button type="submit" class="btn btn-primary" style="width:450px;margin-top:20px">登陆</button>
            </form>
		</div>
	</div>
</body>